*{
	margin:0;
	padding:0;
	box-sizing:border-box;
}

html{
	font-size: 10px;
	font-family: 'Barlow Condensed', sans-serif;
	color:#eee;
}

body{
	width:100%;
	height: 100%;
	background-image: linear-gradient(to right, #e6e6e8,#e7e7e9);
	overflow-x: hidden;
}

header{
	width: 100%;
	height: 100vh;
}

a{
	text-decoration: none;
	color:#eee;
	font-weight: bold;
}

img {
	width:100%;
}

/*resuable text*/


/*end of resuable text*/


/*start of header*/

#main-nav {
	padding: 5px;
	margin:0;
	width:100%;
	position: fixed;
	z-index: 50;
	top: 0;
	background:#17223b;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.nav-left{
	margin-left: 35px;
}

.nav-list {
	list-style: none;
	width:100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center; 
	text-transform: uppercase;
}

.nav-list li {
	margin: 0 0.8rem;
}

.nav-link{
	font-family: 'Barlow Condensed', sans-serif;
	font-size: 2rem;
	padding: 1rem;
}

.nav-logo {
	cursor:pointer;
	text-align: center;
	padding-bottom: 1rem;
}

.nav-logo p{
	margin-left: 2px;
	font-size: 1.5rem;
	font-family: 'Barlow Condensed', sans-serif;
	/*font-weight: bold;*/
}

.nav-logo div {
	padding: 0;
	width:10px;
	height:10px;
	background-color:#cd3f3e;
	border-radius: 100%;
	position: relative;
	top: -50px;
}

.nav-logo:hover  div {
	top: 13px;
	left:18px;
}

.nav-link:hover {
	border-bottom: solid 2px #cd3f3e;
}

.nav-link-right{
	font-family: 'Barlow Condensed', sans-serif;
	font-size: 2rem;
	padding: 1rem;
}

i {
	color: #cd3f3e;
}

i:hover{
	color: white;
}

.nav-right{
	margin-right: 40px;
	display: flex;
	justify-content: center;
	align-items: center;
}


.subscribe {
	font-family: 'Barlow Condensed', sans-serif;
	margin-left:25px;
	font-size: 2.7rem;
	color: #cd3f3e;
}

.subscribe:hover{
	color:white;
}


.nav-list-right {
	margin-left: 5px;
}

.search-box {
	display: flex;
	justify-content: center;
	align-items: center;
}

.search-box .input{
	width: 0px;
	height: 40px;
	border:3px solid #cd3f3e;
	padding: 0 0px;
	border-radius: 50px;
	outline: none;
	font-size:14px;
	transition: all .8s ease;
}

.btn-icon {
	padding: 0;
	margin: 0;
	position: relative;
	width:50px;
	height:50px;
	background-color: #cd3f3e;
	cursor: pointer;
	border-radius: 100%;
	text-align: center;
	line-height: 60px;
	top: 0px;
	right: 25px;
}

.btn-icon:hover {
	background-color:white;
}

.btn-icon i {
	color:#17223b;
}


.input.active{
	width:350px;
	padding: 0 20px;
}

.btn-icon.animate {
	background-color: #cd3f3e;
}

.landing-page{
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: coral;
	height:100%;
}

.left-article{
	width:65%;
	height:100%;
	background-color: coral;
	z-index: 1;
	position: relative;
}

.right-article-common{
	position: relative;
}

.left-article:hover{
	background-color: black;
}

.right-article-common:hover{
	background-color: black;
}

.article-img{
	width: 100%;
	height: 100%;
	position: relative;
	top:0;
	left:0;
	object-fit: cover;
	filter: brightness(80%);
}


.article-img:hover{
	opacity: 0.7;
}

.right-article {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 35%;
	height: 100%;
}

.right-article1 {
	width: 100%;
	background-color: red;
	height: 55%;
}

.right-article2 {
	width: 100%;
	background-color: blue;
	height: 45%;
}

.left-article-info {
	width:100%;
	position: absolute;
	top:70%;
	left:0;
	z-index: 2;
	font-size: 4rem;
	text-align: center;
	line-height: 7rem;
	text-transform: uppercase;
}

.left-article-type{
	position: absolute;
	width:100%;
	top:90%;
	z-index: 2;
	display: flex;
	justify-content:center;
	align-items: center;
}

.left-article-type a {
	font-size: 3rem;
	text-transform: uppercase;
	margin: 0 2%;
}

.bar{
	width: 40%;
	height: 2px;
	background-color:#cd3f3e;
}

.right-article-info {
	padding: 0 25px;
	max-width: 100%;
	position: absolute;
	top:75%;
	left: 0;
	z-index: 2;
	font-size: 2.8rem;
	text-align: left;
	text-transform: uppercase;
}

.right-article-type{
	position: absolute;
	top:8%;
	left:5%;
	z-index:2;
	text-transform: uppercase;
	font-size: 2rem;
	text-align: center;
	border: 1.5px solid #cd3f3e;
	padding:5px 10px;
	font-weight: bold;
	transition: background-color 650ms ease-out;
	letter-spacing: .1rem;
}

.right-article-type:hover{
	background-color:#cd3f3e;
	opacity: 0.9%;
}

#right-article-type-top{
	position: absolute;
	top:24%;
	left:5%;
}



/*end of header*/


/*start of grid-container*/

.grid-container{
	width:100%;
	padding:3.5% 5%;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
	grid-gap: 2.5rem;
	text-align: center;
	color:black;
	/*background-color: white;*/
}

.blog {
	height: 480px;
	text-transform: uppercase;
}

.blog img{ 

	height: 250px;
}

.blog img:hover{
	filter: brightness(70%);
}

.blog-heading  {
	font-size: 2rem;
	text-align: left;
	padding:25px 5px 0 5px;
	overflow: clip;
	height: 140px;
	overflow: hidden;
}

.blog-heading a{
	color:black !important;
	font-weight: bold;
}

.blog-heading:hover{
	opacity: 0.6;
}
.blog-type{
	margin-top:60px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.grid-bar{
	width: 30%;
	height: 2px;
	background-color:#cd3f3e;
}
.blog-type a{
	font-size: 1.5rem;
	text-align: center;
	color:#cd3f3e !important;
	margin-left:2%;
	margin-right: 2%;
}

.hide{
	display:none;
}

/*end of grid-container*/


/*Start of top-blog-container*/
	.top-blog-container{
		width:100%;
		height: 650px;
		display: flex;
		justify-content: center;
		align-items: center;
		position: relative;
	}

	.top-blog-image{
		width:65%;
		height:100%;
		background-color:white;
	}

	.top-blog-image img {
		object-fit: cover;
		height: 100%;
	}

	.top-blog-image:hover{
		filter: brightness(70%);
	}

	.top-blog-logo img{
		position: absolute;
		top:30%;
		left: 60.5%;
		height: 150px;
		width:150px;
		border-radius: 100%;
	}

	.top-blog-info {
		width:35%;
		height: 100%;
		background-color: coral;
		background-image: url("images/navy-blue-texture2.jpg");
		object-fit: fill;
		text-transform: uppercase;
		
	}


	.top-blog-heading{
		width: 40%;
		margin-top:200px;
		margin-bottom:50px;
		margin-left: 130px;
		margin-right: 40px;
		text-align: left;
		font-size: 3rem;
	}

	.top-blog-heading:hover{
		opacity: 0.5;
	}

	.top-blog-type{
		margin-left: 130px;
		font-size: 2rem;
		display: flex;
		justify-content: center;
		align-items: center;
	}

	.top-blog-type a {
		color: #cd3f3e !important;
	}

.top-blog-rating{
	margin-top:50px;
	transition: transform:0.2s;
	display: flex;
	justify-content: center;
	align-items: center;
	width:100%;

}

.rating-icon:hover{
	color:#cd3f3e;
	transform: scale(2);
}

/*-------------------------------------------start of a recent post container----------------------------------------------*/
.recent-post-container{
}

.recent-posts-heading{
	width:90%;
	margin-top:70px;
	margin-left:5%;
	margin-right:5%;
	height: 600px;
	background-image: url("images/navy-blue-texture.jpg");
	background-size: cover;
	border: 8px solid  #cd3f3e;
}

.recent-posts-heading h1{
	text-align: center;
	font-size: 15rem;
	font-family:Dhurjati;
	margin-top:40px;
}
.recent-post-mountain{
}

.recent-post-mountain img { 
	height: 150px;
	object-fit: contain;
}

.recent-posts-main{
background:linear-gradient(to bottom, white 85%,transparent);
width:80%;
margin:0 10%;
border-top:4px solid white;
padding-top: 100px;
padding-right: 6%;
padding-left: 6%;
padding-bottom: 500px;
position: relative;
top:-125px;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}

.recent-posts{
	display: grid;
	grid-gap: 3%;
	grid-template-columns: repeat(2, minmax(25rem, 1fr));
}

.recent-post{
	background-color: #e7e7e9;
	height: 680px;
}

.recent-post img{
	height: 350px;
	object-fit: cover;
	display: block;
}

.recent-post img:hover{
	filter: brightness(70%);
}

.recent-post-heading{
	margin-top:20px;
}

.recent-post-heading h1{
	text-transform: uppercase;
	color: black;
	font-size: 3.5rem;
	text-align: left;
	padding: 20px;
}

.recent-post-heading h1:hover{
	opacity: 0.6;
}

.recent-post-heading p{
	color:#404040;
	font-size: 2rem;
	text-align: left;
	padding: 20px;
}

.recent-post-blog-type{
	padding: 20px;
	margin-top:10px;
	display: flex;
	justify-content: center;
	align-items: center;
	width:100%;
}

.line{
	width: 75%;
	height: 2px;
	background-color:#cd3f3e;
	margin-left: 2%;
}

.recent-post-blog-type a {
	color:#cd3f3e !important;
	text-transform: uppercase;
	font-size: 2rem;
}


.recent-post-blog-type span{
	display: none;
}

.recent-post-blog-type a:hover > span{
	display: inline;
}
.recent-posts-button{
	background-color: red;
	text-align: center;
	position: absolute;
	padding: 20px;
	bottom: 220px;
	font-size: 2rem;
	background-color: #cd3f3e;
	cursor: pointer;
	transition: background-color 0.8s;
}

.recent-posts-button:hover{
	background-color: coral;
}
/*-------------------------------------------endof a recent post container----------------------------------------------*/

/*end of top-boog-container*/

/*----------------------------------------start of a footer---------------------------------------------------*/
.footer-container{
	width:100%;
	height:900px;
	background-image: url("images/footer-img.jpg");
	background-size: cover;
	position: relative;
}

.footer-logo{
	width: 120px;
	height: 120px;
	margin: 0 2%;
}

.subscribe-button-wrapper{
	width:100%;
	display: flex;
	justify-content: center;
	align-items: center;
}
.subscribe-button {
	width:45%;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 50px;
	margin-bottom:70px;
	position: relative;
}

.subscribe-button input{
	font-size: 1.5rem;
	width:100%;
	padding: 20px;
	border: none;
}

.subscribe-button a{
	position: absolute;
	right: 0;
	padding-right: 20px;
	color: #cd3f3e;
}

.subscribe-button a:hover > i{
	color: coral;
}

.main-footer{
	display: flex;
	justify-content: center;
	align-items: center;
}

.common-footer{
	height: 100px;
	width: 300px;
}

#footer-left{
	border: 3px solid #cd3f3e;
	text-align: center;
	font-size: 2rem;
	color: #17223b;
	text-transform: uppercase;
	padding:37px 0;
	user-select: none;
}

#footer-middle{
	border-top:3px solid #cd3f3e;
	border-bottom:3px solid #cd3f3e;
}
#footer-right {
	border: 3px solid #cd3f3e;
	text-align: center;
	font-size:2rem;
	text-transform: uppercase;
	padding:37px 0;
}

#footer-right a{
	color:#17223b!important;
}

#footer-right a:hover{
	color:#cd3f3e !important;
}

.top-footer{
	display: flex;
	justify-content: center;
	align-items: center;
}
.last-footer{
	width:100%;
	height: 60px;
	background-color:#101010;
	display: flex;
	justify-content: center;
	align-items: center;
	text-transform: uppercase;
	font-size: 2rem;
}
.last-footer a{
	margin-left:25px;
}

.last-footer a:hover{
	color:#cd3f3e !important;
}


/*---------------------------------------end of a footer-------------------------------------------------------------------------*/



















