*{
	margin:0;
	padding:0;
	box-sizing:border-box;
}

html{
	font-size: 10px;
	font-family: 'Barlow Condensed', sans-serif;
	color:#eee;
}

body{
	width:100%;
	height: 100%;
	overflow-x: hidden;
}

header{
	width: 100%;
	height: 100vh;
}

a{
	text-decoration: none;
	color:#eee;
	font-weight: bold;
}

img {
	width:100%;
}

/*resuable text*/


/*end of resuable text*/


/*start of header*/

#main-nav {
	padding: 5px;
	margin:0;
	width:100%;
	position: fixed;
	z-index: 50;
	top: 0;
	background:#17223b;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.nav-left{
	margin-left: 35px;
}

.nav-list {
	list-style: none;
	width:100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center; 
	text-transform: uppercase;
}

.nav-list li {
	margin: 0 0.8rem;
}

.nav-link{
	font-family: 'Barlow Condensed', sans-serif;
	font-size: 2rem;
	padding: 1rem;
}

.nav-logo {
	cursor:pointer;
	text-align: center;
	padding-bottom: 1rem;
}

.nav-logo p{
	margin-left: 2px;
	font-size: 1.5rem;
	font-family: 'Barlow Condensed', sans-serif;
	/*font-weight: bold;*/
}

.nav-logo div {
	padding: 0;
	width:10px;
	height:10px;
	background-color:#cd3f3e;
	border-radius: 100%;
	position: relative;
	top: -50px;
}

.nav-logo:hover  div {
	top: 13px;
	left:18px;
}

.nav-link:hover {
	border-bottom: solid 2px #cd3f3e;
}

.nav-link-right{
	font-family: 'Barlow Condensed', sans-serif;
	font-size: 2rem;
	padding: 1rem;
}

i {
	color: #cd3f3e;
}

i:hover{
	color: white;
}

.nav-right{
	margin-right: 40px;
	display: flex;
	justify-content: center;
	align-items: center;
}


.subscribe {
	font-family: 'Barlow Condensed', sans-serif;
	margin-left:25px;
	font-size: 2.7rem;
	color: #cd3f3e;
}

.subscribe:hover{
	color:white;
}


.nav-list-right {
	margin-left: 5px;
}

.search-box {
	display: flex;
	justify-content: center;
	align-items: center;
}

.search-box .input{
	width: 0px;
	height: 40px;
	border:3px solid #cd3f3e;
	padding: 0 0px;
	border-radius: 50px;
	outline: none;
	font-size:14px;
	transition: all .8s ease;
}

.btn-icon {
	padding: 0;
	margin: 0;
	position: relative;
	width:50px;
	height:50px;
	background-color: #cd3f3e;
	cursor: pointer;
	border-radius: 100%;
	text-align: center;
	line-height: 60px;
	top: 0px;
	right: 25px;
}

.btn-icon:hover {
	background-color:white;
}

.btn-icon i {
	color:#17223b;
}


.input.active{
	width:350px;
	padding: 0 20px;
}

.btn-icon.animate {
	background-color: #cd3f3e;
}

.landing-page{
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: coral;
	height:100%;
}

.left-article{
	width:65%;
	height:100%;
	background-color: coral;
	z-index: 1;
	position: relative;
}

.right-article-common{
	position: relative;
}

.left-article:hover{
	background-color: black;
}

.right-article-common:hover{
	background-color: black;
}

.article-img{
	width: 100%;
	height: 100%;
	position: relative;
	top:0;
	left:0;
	object-fit: cover;
	filter: brightness(80%);
}


.article-img:hover{
	opacity: 0.7;
}

.right-article {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 35%;
	height: 100%;
}

.right-article1 {
	width: 100%;
	background-color: red;
	height: 55%;
}

.right-article2 {
	width: 100%;
	background-color: blue;
	height: 45%;
}

.left-article-info {
	width:100%;
	position: absolute;
	top:70%;
	left:0;
	z-index: 2;
	font-size: 4rem;
	text-align: center;
	line-height: 7rem;
	text-transform: uppercase;
}

.left-article-type{
	position: absolute;
	width:100%;
	top:90%;
	z-index: 2;
	display: flex;
	justify-content: center;
	align-items: center;
}

.left-article-type a {
	font-size: 3rem;
	text-transform: uppercase;
	position: relative;
}

.left-article-type a:before{
	content: " ";
	/*display: block;*/
	width:400px;
	height: 2px;
	background-color: #cd3f3e;
	margin-right: 10%;
	position: absolute;
	left:130%;
	top:50%;
	z-index:-2;
}


.left-article-type a:after {
	content: "";
	width:400px;
	height: 2px;
	margin-left: 10%;
	background-color: #cd3f3e;
	position: absolute;
	right:130%;
	top:50%;
	z-index: -2;
}


.right-article-info {
	padding: 0 25px;
	max-width: 100%;
	position: absolute;
	top:75%;
	left: 0;
	z-index: 2;
	font-size: 2.8rem;
	text-align: left;
	text-transform: uppercase;
}

.right-article-type{
	position: absolute;
	top:8%;
	left:5%;
	z-index:2;
	text-transform: uppercase;
	font-size: 2rem;
	text-align: center;
	border: 1.5px solid #cd3f3e;
	padding:5px 10px;
	font-weight: bold;
	transition: background-color 650ms ease-out;
	letter-spacing: .1rem;
}

.right-article-type:hover{
	background-color:#cd3f3e;
	opacity: 0.9%;
}

#right-article-type-top{
	position: absolute;
	top:24%;
	left:5%;
}



/*end of header*/


/*start of grid-container*/

.grid-container{
	width:100%;
	padding:3.5% 5%;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
	grid-gap: 2.5rem;
	text-align: center;
	color:black;
}

.blog {
	height: 480px;
	text-transform: uppercase;
}

.blog img{ 

	height: 250px;
}

.blog img:hover{
	filter: brightness(70%);
}

.blog-heading  {
	font-size: 2rem;
	text-align: left;
	padding:25px 5px 0 5px;
	overflow: clip;
	height: 140px;
	overflow: scroll;
}

.blog-heading a{
	color:black !important;
	font-weight: bold;
}

.blog-heading:hover{
	opacity: 0.6;
}
.blog-type{
	margin-top:60px;
}
.blog-type a{
	font-size: 1.5rem;
	text-align: center;
	color:#cd3f3e !important;
	position: relative;
}

.blog-type a:before{
	content: " ";
	display: block;
	position: absolute;
	top:50%;
	left: 105%;
	height: 2px;
	width:200%;
	background-color: #cd3f3e;
	/*z-index: -2;*/
}

.blog-type a:after{
	content: " ";
	display: block;
	position: absolute;
	top:50%;
	right: 105%;
	height: 2px;
	width:200%;
	background-color: #cd3f3e;
	/*z-index: -2;*/
}

.hide{
	display:none;
}

/*end of grid-container*/


/*Start of top-blog-container*/
	.top-blog-container{
		width:100%;
		height: 650px;
		display: flex;
		justify-content: center;
		align-items: center;
	}

	.top-blog-image{
		width:65%;
		height:100%;
		background-color:white;
	}

	.top-blog-image img {
		object-fit: cover;
		height: 100%;
	}

	.top-blog-image:hover{
		filter: brightness(70%);
	}

	.top-blog-info{
		width:35%;
		height: 100%;
		background-color: coral;
		background-image: url("images/navy-blue-texture2.jpg");
		object-fit: fill;
		text-transform: uppercase;
		
	}


	.top-blog-heading{
		margin-top:200px;
		margin-bottom:50px;
		margin-left: 100px;
		margin-right: 40px;
		text-align: left;
		font-size: 3rem;
	}

	.top-blog-heading:hover{
		opacity: 0.5;
	}

	.top-blog-type{
		margin-left: 100px;
		font-size: 2rem;
	}

	.top-blog-type a {
		color: #cd3f3e !important;
		position: relative;
	}

	.top-blog-type a:before{
	content: " ";
	display: block;
	position: absolute;
	top:50%;
	left:105%;
	height: 2px;
	width:400%;
	background-color: #cd3f3e;
	/*z-index: -2;*/
}




/*end of top-boog-container*/


.another-container{
	width:100%;
	height: 500px;
	background-color: yellow;
}























